@model List<Postagem>
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bloco do Gallo
    <p>Confira a nova Farofa do Gallo.</a></p>
</div>

@foreach (Postagem postagem in Model)
{
    <p>@postagem.Nome</p>
    <img src="@postagem.Foto" width="300" />
}